.article {
    ul {
        padding-left: 25px;
        padding-bottom: 20px;
    }
    ol {
        padding-left: 18px;
        padding-bottom: 20px;
    }
    p p {
        padding-bottom: 20px;
        strong {
            color: $tertiary-color;
            font-size: 24px;
        }
    }
    a {
        text-decoration: underline;
    }
}

.blog-author {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}