.tag {
  display: none;
  + label {
    padding: 0px 20px;
    box-shadow: $shadow;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 14px;
  }
  &:checked {
    + label {
      background-color: $secondary-color;
    }
  }
}