.crop {
    width: 500px;
    height: 210px;
    overflow: hidden;
    border-radius: $border;
    img {
        width: 100%;
        
    }
}

.crop2 {
    width: 600px;
    overflow: hidden;
    border-radius: $border;
    img {
        width: 100%;
    }
}

.crop3 {
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: $border;
    box-shadow: $shadow;
    img {
        width: 100%;
    }
}