.crop {
    width: 500px;
    height: 210px;
    overflow: hidden;
    border-radius: $border;
    img {
        width: 100%;
    }
}

.crop2 {
    width: 600px;
    overflow: hidden;
    border-radius: $border;
    img {
        width: 100%;
    }
}

.crop3 {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: $border;
    img {
        width: 100%;
    }
}