@media only screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
  
  header {
    nav {
      ul  {
        li {
          display: none;
        }
        .fa-bars {
          display: block;
          padding-bottom: 16px;
        }
      }
    }
  }

  .flex-down {
    > p {
        padding: 10px 20px !important;
    }
  }

  .crop2 {
    width: 230px;
    height: 170px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 28px;
}
}

@media only screen and (max-width: 700px) {
  .grid2 {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)) !important;
  }

  .crop {
    width: 230px;
    height: 140px;
    overflow: hidden;
  }
}