//Text adjustments
.text-center {
    text-align: center;
}

.title {
    font-size: 36px;
    text-align: center;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color
}

.underline {
    text-decoration: underline;
}